.sideBar {
  background: rgb(0, 255, 240);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
}

.Menu {
  width: 100%;
  height: calc(100% - 74px);
  overflow: scroll;
  background: inherit;
  text-align: center;
}

.menuItem,
.Close {
  font-size: 4em;
  padding: 15px;
}

.Close {
  font-size: 3em;
  line-height: 0;
  cursor: pointer;
  padding: 10px;
  align-self: flex-start;
  font-weight: 100;
}
