.Info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.listContainer {
  margin: auto;
  font-size: 1.5em;
  padding: 10px;
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
}

.listItem {
  text-align: center;
  margin-top: 15px;
}
