
.contactForm input,
textarea {
  outline: 0;
  width: 300px;
  background: #FFF;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 10px 5px;
  color: rgb(100, 100, 100);
}

.contactForm textarea {
  height: 150px;
  max-height: 150px;
}

.Submit {
  width: 100%;
}

.Submit button {
  width: 100%;
  cursor: pointer;
  outline: 0;
  font-size: 3em;
  text-align: center;
  padding: 10px;
}
